---
import { getCollection, render } from "astro:content"
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
    const maquinas = await getCollection("maquinas");

    return maquinas.map((maquina) => ({
        params: { id: maquina.slug }, 
        props: { maquina }
    }));
}


const { maquina } = Astro.props;
const { data, slug } = maquina;
const {title, img, description, links } = data;

const linksArray = Object.keys(links).map(key => ({
    text: key,
    url: links[key]
}));

const { Content } = await render(maquina) 
---

<Layout title={`${title} - Maquinas`}>
    <section class="">

        <div id="espacio-navbar" class="h-36"></div>
        <div class="mx-auto w-full flex justify-center mb-5">
            <a class="bg-amarillo py-2 px-4 flex justify-center items-center font-bold text-fondo rounded-md" href="/"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>Volver Atras</a>
        </div>
        <div class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center px-8">
            <aside class="flex justify-center">
                <img transition:name={`img-${slug}`} class="rounded-lg w-80 h-auto shadow-lg" src={`/${img}`} alt={title} />
            </aside>
            <main>
                <h1 transition:name={`title-${slug}`} class="text-5xl font-bold text-white mb-4 ">{title}</h1>
                <div class="prose prose-invert border-l-4 border-amarillo pl-6">
                    <Content/>
                </div>
            </main>
        </div>
        <div class="max-w-screen-lg mx-auto pt-8">
            <h3 class="text-1xl font-bold text-white mb-4 text-center shadow-lg ">A CONTINUACION SE MUESTRAN ENLACES CON EJEMPLOS DE ALGUNOS EJERCICIOS QUE SE PUEDEN HACER CON LA MAQUINA</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-6 ">
                {linksArray.map((link, index) => (
                <a
                    key={index}
                    href={link.url}
                    target="_blank"
                    class="bg-amarillo hover:bg-amarillo/80 text-black font-bold py-2 px-4 rounded-lg text-center transition"
                >
                    {link.text}
                </a>
                ))}
            </div>
        </div>
            <div id="espacio-navbar" class="h-36"></div>
    </section>
</Layout>

